<p style="color: green"><%= notice %></p>

<%= render @association %>

<div>
  <%= link_to "Edit this association", edit_association_path(@association) %> |
  <%= link_to "Back to associations", associations_path %>

  <%= button_to "Destroy this association", @association, method: :delete %>
</div>
